@import url(https://fonts.googleapis.com/css?family=Roboto); 

button {
    position: absolute;
    right: 0px;
    top: calc(50% - 20px/2);    
    width: 20px;
    height: 20px;
    margin-left: 22px;
}

img {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 100%;
    max-height: 100%;

    background: #FFFFFF;
}

img:hover {
    cursor: pointer;
}

button .badge {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -11px;
    right: -14px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    border-radius: 60px;
    background: #1D1F22;    
    color: white;
}

button .badge label {
    position: relative;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    
    display: inline-block; 

    color: #FFFFFF;
}
