.cartItem{
    position: relative;
    min-width: 100%;
    width: auto;
    min-height: 137px;
    
    margin: 0px 0px 44px 0px;
    padding: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}