.cartVarsCartPage {
    position: relative;
    height: auto;
    width: 198px;

    top: 10px;
    right: 0;
    bottom: 0px;
    order: 2;
    margin-left: auto;

    display: flex;
    align-items: center;
}

.cartVarsCartPage .cartVarsBlock {
    position: relative;
    height: 185px;
    width: 100%;

    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.cartVarsCartPage .cartVarsBlock .plusSign {
    position: relative;
    width: 45px;
    height: 45px;

    left: 0px;
    top: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 1px solid #1D1F22;
    box-sizing: border-box;
}

.cartVarsCartPage .cartVarsBlock .plusSign:hover {
    cursor: pointer;
}

.cartVarsCartPage .cartVarsBlock .negSign {
    position: relative;
    width: 45px;
    height: 45px;

    top: 60px;
    left: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 1px solid #1D1F22;
    box-sizing: border-box;
}

.cartVarsCartPage .cartVarsBlock .negSign:hover {
    cursor: pointer;
}

.cartVarsCartPage .cartVarsBlock .count {
    position: relative;
    left: 16px;
    right: 123px;
    top: 30px;

    width: 10px;
    height: 34px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;

    margin: 0px;
    padding: 0px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #1D1F22;
}

.cartVarsCartPage .cartVarsBlock .mainImage {
    position: absolute;
    width: 141px;
    height: 185px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cartVarsCartPage .cartVarsBlock .mainImage img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.cartVarsCartPage .cartVarsBlock .mainImage .imgLeftArrow {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 80px;
    bottom: 81px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #FFFFFF;

    z-index: 100;
}

.cartVarsCartPage .cartVarsBlock .mainImage .imgLeftArrow:hover {
    cursor: pointer;
}

.cartVarsCartPage .cartVarsBlock .mainImage .imgRightArrow {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 0px;
    top: 80px;
    bottom: 81px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #FFFFFF;

    z-index: 100;
}

.cartVarsCartPage .cartVarsBlock .mainImage .imgRightArrow:hover {
    cursor: pointer;
}