@import url(https://fonts.googleapis.com/css?family=Raleway); 
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed); 
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro); 
@import url(https://fonts.googleapis.com/css?family=Roboto); 

.ProductPage {
    position: absolute;
    top: 80px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    min-width: 1221px;

    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow:auto; 
}

.ProductPage .imagesPanel {
    position: relative;
    width: 79px;
    top: 72.39px;
    left: 96.71px;

    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ProductPage .imagesPanel img {
    position: relative;
    width: 79px;
    height: 80px;
    margin: 0px 0px 40px 0px;
    padding: 0px;
}

.ProductPage .container {
    position: relative;
    height: 100%;
    width: 1221px;
    top: 72.39px;
    left: 123px;
    right: 0px;

    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: row;
}

.ProductPage .container img {
    position: relative;
    width: 610px;
    height: 511px;
    left: 0px;
    top: 0px;

    padding: 0px;
    margin: 0px;
}

.ProductPage .container .info {
    position: relative;
    width: 292px;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 100px;

    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: column;
}

.ProductPage .container .info .title {
    position: relative;
    width: 292px;
    height: 27px;
    left: 0px;
    top: 0px;

    padding: 0px;
    margin: 0px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;

    display: flex;
    align-items: center;

    color: #1D1F22;
}

.ProductPage .container .info .restOfTitle {
    position: relative;
    width: 292px;
    height: 27px;
    left: 0px;
    top: 16px;

    padding: 0px;
    margin: 0px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 27px;

    display: flex;
    align-items: center;

    color: #1D1F22;
}

.ProductPage .container .info .attributeName {
    position: relative;
    width: 38px;
    height: 18px;
    left: 0px;
    top: 59px;

    margin: 0px;
    padding: 0px;
    
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;

    text-transform: uppercase; 
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #1D1F22;
}

.ProductPage .container .info .attributesBox {
    position: relative;
    height: 45px;
    width: 292px;
    top: 67px;

    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.ProductPage .container .info .attributesBox .attribute {
    position: relative;
    width: 63px;
    height: 45px;
    top: 0px;
    bottom: 0px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    justify-content: center;

    margin: 0px 12px 0px 0px;
    padding: 0px;

    border: 1px solid #1D1F22;
    box-sizing: border-box;
}

.ProductPage .container .info .attributesBox div:hover {
    cursor: pointer;
}

.ProductPage .container .info .priceTag {
    position: relative;
    width: 50px;
    height: 18px;
    left: 0px;
    top: 107px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;

    text-transform: uppercase; 

    display: flex;
    align-items: center;
    text-align: center;

    color: #1D1F22;
}

.ProductPage .container .info .price {
    position: relative;
    width: 86px;
    height: 46px;
    left: 0px;
    top: 117px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;

    display: flex;
    align-items: center;

    color: #1D1F22;
}

.ProductPage .container .info .addToCart {
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    color: #FFFFFF;

    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;

    padding: 0px;
    margin: 0px;
    
    position: relative;
    width: 292px;
    height: 52px;
    left: 0px;
    top: 137px;
    
    background: #5ECE7B;
    border: 0px;
}

.ProductPage .container .info .desc {
    position: relative;
    width: 292px;
    height: 103px;
    left: 0px;
    top: 177px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 159.96%;
        
    color: #1D1F22;
}