.grid-container {
    --contentLeft: 101.25px;
    position: relative;
    top: 223px;
    left: var(--contentLeft);
    right: 0px;
    bottom: 0px;
    height: auto;
    width: calc(100% - var(--contentLeft));

    padding: 15.3px 0px 191px 0px;
    margin: 0px;

    display: grid;
    grid-template-columns: 386px 386px 386px;
    grid-gap: 10px;
}
  
.grid-container > div {
    width: 386px;
    height: 444px;
}