@import url(https://fonts.googleapis.com/css?family=Raleway); 

.title {
    position: absolute;
    left: 101px;
    top: 80px;
    width: 299px;
    height: 68px;
    padding: 0px;
    margin: 0px;

    display: flex;
    align-items: center;
    text-align: center;
} 

.title h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 160%;
}